*{
   margin: 0;
   padding: 24px 0;
   font-size: 24px;
   justify-content: space-around;
}

header {
    background-color: #374bbe;
    color: black;
    }

.cabecalho-imagem {
    width: 20%;
 }

.cabecalho {
    background-color: rgb(19, 80, 211);
    color: black;
    display: flex;
    justify-content: space-around;
 }

.item {
    color: black;
    display: inline-block;
    margin: 0 16px;
 }

 .principal {
    background-image: linear-gradient(rgb(19, 80, 211), white, black);
    color: black;
    display:flex;
 }

 .principal-titulo {
    padding: 24px;

 }

 .principal-conteudo {
    width: 55%;
   /* display: flex;*/
    justify-content: center;
    align-items: center;
    padding: 24px;

 }

 .principal-img {
    width: 20%;

 }

.principal-texto-dois {

    color: white;

}
 