* {
   margin: 0;
   padding: 24px 0;
   font-size: 24px;
   justify-content: space-around;
}

body {
   font-family: "Oswald", sans-serif;
}

header {
    background-color: #006400; /* Coritiba Green */
    color: white; /* Texto branco */
}

.cabecalho-imagem {
    width: 20%;
 }

.cabecalho {
    background-color: #006400; /* Coritiba Green */
    color: white; /* Texto branco */
    display: flex;
    justify-content: space-around;
}

.item {
    color: white; /* Texto branco */
    display: inline-block;
    margin: 0 16px;
}

.principal {
    background-color: white; /* Fundo branco */
    color: black; /* Texto preto */
    display: flex;
}

.principal-titulo {
    padding: 24px;
}

.principal-conteudo {
    width: 55%;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.principal-img {
    width: 15%;
}

.principal-texto-dois {
    color: black; /* Texto preto */
}
